<section>
  <div class="row">
    <div class="col-12 mt-3">
      <h4>{{ personalData.title }}</h4>
      <hr />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      {{ personalData?.address?.title }}
    </div>
    <div class="col-8 text-break">
      {{ personalData?.address?.value }}
    </div>
    <div class="col-4">
      {{ personalData?.dob?.title }}
    </div>
    <div class="col-8 text-break">
      {{ personalData?.dob?.value }}
    </div>
    <div class="col-4">
      {{ personalData?.cellphone?.title }}
    </div>
    <div class="col-8 text-break">
      {{ personalData?.cellphone?.value }}
    </div>
    <div class="col-4">
      {{ personalData?.email?.title }}
    </div>
    <div class="col-8 text-break">
      {{ personalData?.email?.value }}
    </div>
    <div class="col-4">
      {{ personalData?.linkedIn?.title }}
    </div>
    <div class="col-8 text-break">
      {{ personalData?.linkedIn?.value }}
    </div>
    <div class="col-4">
      {{ personalData?.github?.title }}
    </div>
    <div class="col-8 text-break">
      {{ personalData?.github?.value }}
    </div>
  </div>
</section>
