<section class="row mb-3">
    <div class="col-12">
      <h4>{{ personalData.title }}</h4>
      <hr />
    </div>
  <ng-container *ngFor="let info of personalData | keyvalue">
      <div class="col-12 mb-2" *ngIf="isSection(info.value)">
        <small>
         {{  info.value.title }}
        </small>
        <div class="d-flex align-items-center">
          <div class="material-icons-outlined">
            {{ icons[info.key] }}
          </div>
          <div class="mx-2" >
            <a *ngIf="info.value.value.match('\.com/'); else notUrl" target="_blank" [href]="'https://'+info.value.value">
              {{info.value.value}}
            </a>
            <ng-template #notUrl>
              {{info.value.value}}
            </ng-template>
          </div>
        </div>
      </div>
  </ng-container>
</section>
